/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    color: #000000;
    font-size: 14px;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: left;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}


ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

 :focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}

.padding_0 {
    padding: 0px;
}

/* banner bg main start */

.banner_bg_main {
    width: 100%;
    float: left;
    background-image: url(../images/pag-inicial.svg);
    height: 500px;
    background-size: 100%;
    background-repeat: no-repeat;
}

/* banner bg main end */

/* header section start */

.header_section {
    width: 100%;
    display: flex;
}

.containt_main {
    display: flex;
}

.main {
    flex: 1;
    margin: 0px 30px;
    display: inline-block;
    order: 2;
}

/* flage css start */

.lang_box {
    display: flex;
    float: right;
    background: #fff;
    border-radius: 5px;
    margin-right: 20px;
}

a:hover {
    color: #000000;
    text-decoration: underline;
}


/* flage css end */


/* header section end */


/* banner section start */

.banner_section {
    width: 100%;
    float: left;
    padding-bottom: 60px;
}

.banner_taital {
    width: 100%;
    font-size: 56px;
    color: #ffffff;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
}


/* banner section end */


/* fashion section start */

.fashion_section {
    width: 100%;
    float: left;
    padding-bottom: 150px;
}

.fashion_taital {
    width: 100%;
    font-size: 36px;
    color: #000000;
    text-align: center;
    font-weight: bold;
}

.fashion_section_2 {
    width: 100%;
    margin-top: 30px;
}

.box_main {
    width: 1130px;
    background-color: #D3DCE2;
    height: 535px;
    padding: 20px;
    margin-bottom: 20px;
}

.shirt_text {
    width: 100%;
    font-size: 20px;
    color: #000;
    text-align: left;
    font-weight: bold;
    padding-bottom: 5px;
}

.tshirt_img {
    width: 100%;
    text-align: left;
    margin: 50px 0px;
    min-height: 370px;
}

/* fashion section end */

/* footer section start */

/* footer section start */

.footer_section {
    width: 100%;
    float: left;
    background-color: #0B192F;
    height: 200px;
}

.footer_menu {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

/* footer section end */


/* copyright section start */

.copyright_section {
    width: 100%;
    float: left;
    background-color: #0B192F;
    height: auto;
}

.margin_top90 {
    margin-top: 90px;
}


/* copyright section end */